body{
    background-color:white;
    color:black;
}
#tabela01{
    color:black;
    position:relative;
    text-align:center;
    text-align:justify;
    border:solid 4px black;
    width:300px;
    left:40%;
    font-size:12px;
    font-family:Verdana;
}

#titulo{
    text-align: center;
}

#texto1{
    position:relative;
    text-align:center;
    color:white;
    background-color:royalblue;
}

.tabeladescp{
    color:blue;
    border:solid black 2px;
    font-family:Arial;
    font-size:12px;
}

#posicaotab{
    text-align:center;
}
