body{
    background-color: #FFB6C1;
}

#poscab{
    position:relative;
}

#cabecario{
    text-align: center;
    background-color: maroon;
    border:solid 1em oldlace;
    padding:2em;
    margin:1em;
    color:whitesmoke;
}

a:hover,
a:active{
    color:red;
}

div > ul{
    color:red;
}

div > ol{
    color:green;
}

#coor{
    color:red;

}

#dimensao{
    width:39px;
    height:39;
    border-radius:50%;
}

a {
    color:green;
}

#soultext{
    position:relative;
    width:500px;
    height:200px;
    border-color:blue;
    overflow:auto;
}