body{
    background-color: #FFB6C1;
}

#cabecario{
    text-align: center;
    background-color: maroon;
    border:solid 1em oldlace;
    padding:2em;
    margin:1em;
    color:whitesmoke;
}

a:hover,
a:active{
    color:red;
}

div > ul{
    color:red;
}

div > ol{
    color:green;
}

#coor{
    color:red;
}
